<h2>List of Questions</h2>

<div>
  <%= link_to "Ask a question", new_question_path %>
</div>

<ol>
  <% @questions.each do |question| %>
  <li><%=link_to question.title, question_path(question.id) %></li> link_to qustion_comment_path(question.id)
  <% end %>
</ol>
