<center><h1>List of Questions</h1>

   <% @questions.each do |question| %>
  <li><%=link_to question.title, question_path(question.id) %></li>
  <% end %>
  
<div>
    <h2><%= link_to "Click To Ask a question", new_question_path %></h2>
  </div>
