<h2>List of Questions</h2>

<div>
  <%= link_to "Ask a question", new_question_path %>
</div>


<span><%= link_to "Trending", questions_path(Question.trending_questions) %>
<ol>
  <% @questions.each do |question| %>
  <li><%=link_to question.title, question_path(question.id) %></li>
  <% end %>
</ol>
